/** @format */

.contacts {
  display: flex;
  margin-left: auto;

  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__link {
  display: inline-flex;
  align-items: center;

  font-style: normal;
  font-weight: $medium;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $grey;
  transition: color $animation;

  &:hover,
  &:focus {
    color: $blue-light;
    transition: color $animation;
  }
}
