/** @format */

.hero {
  margin: 0 auto;
  width: 480px;
  background: $grey-light;
  background-image: linear-gradient(
      to right,
      $background-image,
      $background-image
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: center;

  &__item {
    text-align: center;
    padding: 118px 0px;
  }

  &__title {
    margin: auto;

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $white;
  }

  &__button {
    width: 200px;
    padding: 10px 32px;
    margin-top: 30px;

    font-style: normal;
    font-weight: $bold;
    font-size: 16px;
    line-height: 1.87;

    color: $white;
    background: $blue-light;
    box-shadow: 0px 4px 4px $shadow;
    border-radius: 4px;
    border: 0;

    cursor: pointer;
  }
}

@media screen and (min-width: 450px) {
  .hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1200px;
    background: $grey-light;
    background-image: linear-gradient(
        to right,
        $background-image,
        $background-image
      ),
      url(../images/hero.jpg);
    background-size: cover;
    background-position: center;

    &__title {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
