/** @format */

.join {
  &__title {
    margin-bottom: 20px;

    font-family: $primery-font-family;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    &__title {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: $white;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color $animation;

    &:hover,
    &:focus {
      background-color: $blue-light;
      transition: background-color $animation;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    margin-left: auto;
    &__title {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-right: 93px;
    &__title {
      padding-top: 12px;
    }
  }
}
