/** @format */

.page-footer {
  background: $black-light;
  padding: 60px 0;
  width: 480px;

  &__address {
    margin-top: 20px;

    font-style: normal;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $white;
  }

  &__list {
    padding-top: 9px;
  }

  &__link {
    font-style: normal;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: $color;
  }
  @media screen and (max-width: 1199px) {
    &__content {
      text-align: center;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 1199px) {
  .page-footer {
    width: 768px;
    &__item {
      padding-left: 76px;
      padding-right: 89px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page-footer {
    margin: 0 auto;
    width: 1600px;
    &__item {
      display: flex;
    }
  }
}
