/** @format */

.page-footer {
  background: $black-light;
  padding: 60px 0;

  &__address {
    margin-top: 20px;

    font-style: normal;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: $white;
  }

  &__list {
    padding-top: 9px;
  }

  &__link {
    font-style: normal;
    font-weight: $normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: $color;
  }

  &__item {
    display: flex;
  }
}
