/** @format */

.specifics {
  &__list:not(:last-child) {
    margin-bottom: 30px;
  }

  &__title {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center;
    color: $black-medium;
  }

  &__text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $grey;
  }

  &__item {
    width: 450px;
    height: 120px;
    margin-bottom: 30px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: $white-hard;
    border-radius: 4px;
  }

  &__icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .specifics {
    width: 738px;
    display: flex;
    flex-wrap: wrap;
    &__list {
      width: 354px;
    }

    &__title {
      text-align: start;
    }

    &__item {
      width: 354px;
    }
  }
  .specifics__list:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .specifics__list:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .specifics {
    display: flex;

    &__list {
      width: 270px;
    }

    &__title {
      text-align: start;
    }

    &__item {
      width: 270px;
    }

    &__list:not(:last-child) {
      margin-right: 30px;
    }
  }
}
